<div class="row">
    <h1>Welcome to our capstone project for CPSC 4392</h1>
    <h5>
        The Salvation Army Central Arkansas Area Command is required to aggregate and report on residents who use homeless shelter services. 
        This data is currently collected on paper forms, transcribed manually, and then submitted for reporting and tracking purposes. 
        This web application is known as the Salvation Army Resident Services Tracker (SARST), 
        and it will streamline the data collection process and perform specified analysis of the collected shelter services data.</h5>
    <h4>This solution was developed by Code Colonels.</h2>
</div>