<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1>Sign Up</h1>
        {{#if hasErrors}}
            <div class="alert alert-danger">
                {{#each messages}}
                    <p>{{this}}</p>
                {{/each}}
            </div>
        {{/if}}
        <form action="/user/signup" method="post">
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" id="firstName" name="firstName" class="form-control">

                <label for="lastName">Last Name</label>
                <input type="text" id="lastName" name="lastName" class="form-control">

                <label for="email">E-Mail</label>
                <input type="email" id="email" name="email" class="form-control">

                <label for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control">

                <div class="form-radio-group">
                    <input type="radio" id="root" name="roles" value="Root">
                    <label for="root">Root User</label><br>

                    <input type="radio" id="admin" name="roles" value="Admin">
                    <label for="admin">Admin User</label><br>

                    <input type="radio" id="service-provider" name="roles" value="Service Provider">
                    <label for="service-provider">Service Provider</label>
                </div>
            </div>
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
    </div>
</div>