<div class="container">
    <hr>
    <footer class="footer mt-1 m-6 pt-2">
        <!-- Links -->
        <div class="row justify-content-center p-4">
            <div class="col-3"><a href="https://www.salvationarmyusa.org/usn/about/" class="text-decoration-none"><p class="text-center">About Salvation Army</p></a></div>
            <div class="col-3"><a href="https://www.salvationarmyusa.org/usn/employment-opportunities/" class="text-decoration-none"><p class="text-center">Employment Opportunities</p></a></div>
            <div class="col-3"><a href="https://www.salvationarmyusa.org/usn/contact/" class="text-decoration-none"><p class="text-center">Contact us</p></a></div>
        </div>
        <!-- socials --> <!--TODO align icons center in cols-->
        <div class="row justify-content-center">
            <div class="col-2 align-item-center"><a href="#"><img src="/public/assets/images/facebookIcon.png" alt=""></a></div>
            <div class="col-2"><a href="#"><img src="/public/assets/images/linkedinIcon.png" alt=""></a></div>
            <div class="col-2"><a href="#"><img src="/public/assets/images/instagramIcon.png" alt=""></a></div>
            <div class="col-2"><a href="#"><img src="/public/assets/images/twitterIcon.png" alt=""></a></div>
        </div>
        <!-- copyright -->
        <div class="row p-5 pb-0"><p class="text-center">© Copyright 2023 CodeColonels</p></div>
    </footer>
</div>